/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	text-align: center;
	position:absolute; top:170px;
	width:100%;
	
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;

}
.owl-buttons{ float:left; width:100%;}
.owl-prev{ float:left; position:relative; z-index:100; background: url('../images/sprite.png') no-repeat -7px -297px; 
width:36px; height:36px;  margin-left:-33px !important;}
.owl-prev:hover{ background-position:-7px -344px; }

.owl-next{ float:right; position:relative; z-index:100;  background: url('../images/sprite.png') no-repeat -7px -203px; 
width:36px; height:36px;  margin-right:-35px !important;}
.owl-next:hover{ background-position:-7px -250px;}

.deal_scroll .owl-prev{ float:left; position:relative; z-index:100; 
background: url('../images/sprite.png') no-repeat -11px -489px; width:29px; height:55px;  margin-left:-45px !important; opacity:0.45;}
.deal_scroll .owl-next{ float:right; position:relative; z-index:100; 
background: url('../images/sprite.png') no-repeat -11px -410px; width:29px; height:55px;  margin-left:-45px !important; opacity:0.45; 
}
.deal_scroll .owl-theme .owl-controls{ top:154px;}
.deal_scroll .owl-buttons{ width:103%;}




/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 11px;
	height: 11px;
	margin: 5px 4px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}


@media only screen and (max-width:1200px){
	.owl-prev{ margin-left:0px !important;}
	.owl-next{ margin-right:0px !important;}

	
}

@media only screen and (max-width:992px){
	.deal_scroll .owl-prev{ margin-left:-10px !important;}
	.deal_scroll .owl-buttons{ width:100%;}
	.deal_scroll .owl-next{ margin-right:-15px !important;}

	
}


